{{define "admin_manage_agent.layout"  }}
    {{template "admin_manage_agent.content" .}}
{{end}}

{{define "admin_manage_agent.content"}}


<div class="table-wrapper">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Manage <b>Agents</b></h2>
            </div>
            <div class="col-sm-6">
                <a href="#addAgentModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Agent</span></a>
                <a href="#deleteAgentModal" class="btn btn-danger " id="deleteAgentBtn" data-toggle="modal"><i class="material-icons">&#xe16c;</i> <span>Delete</span></a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover" id="example">
        <thead >
        <tr >
            <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="selectAllAgent">
                        <label for="selectAllAgent"></label>
                    </span>
            </th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="agent_data_table">
            {{ range .Agent}}
                <tr>
                    <td>
                        <span class="custom-checkbox">
                            <input type="checkbox" id="checkbox1" class="agent_checkbox" name="options[]" value="1">
                            <label for="checkbox1"></label>
                        </span>
                    </td>
                    <td>{{.FirstName}} {{.LastName}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.PhoneNumber}}</td>
                    <td >
                        <a data-target="#editAgentModal" class="agent_edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a data-target="#deleteAgentModal" class="agent_delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    </td>
                    <td id="agent-hidden-field" hidden>{{.ID}}</td>

                </tr>

            {{end}}
        </tbody>
    </table>

</div>

<!-- Edit Modal HTML -->
<div id="addAgentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/agent/addagent" id="addAgentForm" name="addAgentForm" method="POST">
                <input type="hidden" value='{{ .Form.CSRF }}' name="_csrf"/>
                <div class="modal-header">
                    <h4 class="modal-title">Add Agent</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstname" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" name="lastname" class="form-control" required>
                    </div>
<!--                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>-->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" name=password class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" name="phonenum" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" name="addbtn" id="addBtn" class="btn btn-success" value="Add">
                </div>
            </form>




        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editAgentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/updateagent" method="POST" name="editAgentForm" id = "editAgentForm">
                <input type="hidden" value='{{ .Form.CSRF }}' name="_csrf"/>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Agent</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" name="firstname" id="firstname-field" required>
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="lastname" id="lastname-field" required>
                    </div>
<!--                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control" name="username" id="username-field" required>
                    </div>-->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" id="email-agent-field" required>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="text" class="form-control" name="password" required>
                    </div>
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" class="form-control" name="phonenumber" id="phone-field" required>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="hidden_id" id="hidden-agent-field" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" name="savebtn" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteAgentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="deleteAgentForm" action="/admin/agent/deleteagent" method="POST">
                <input type="hidden" value='{{ .Form.CSRF }}' name="_csrf"/>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Agents</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="hidden_id" id="hidden-agent-field" required>
                    </div>
                    <p style="display: inline;" class="deletableagent" id="deletedagent"></p>
                    <p>Are you sure you want to delete Agent:  </p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>

                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

{{/*<script>*/}}

    {{/*// (function ($) {*/}}
    {{/*//     $.fn.serializeFormJSON = function () {*/}}
    {{/*//         var o = {};*/}}
    {{/*//         var a = this.serializeArray();*/}}
    {{/*//         $.each(a, function () {*/}}
    {{/*//             if (o[this.name]) {*/}}
    {{/*//                 if (!o[this.name].push) {*/}}
    {{/*//                     o[this.name] = [o[this.name]];*/}}
    {{/*//                 }*/}}
    {{/*//                 o[this.name].push(this.value || '');*/}}
    {{/*//             } else {*/}}
    {{/*//                 o[this.name] = this.value || '';*/}}
    {{/*//             }*/}}
    {{/*//         });*/}}
    {{/*//         return o;*/}}
    {{/*//     };*/}}
    {{/*// })(jQuery);*/}}
    {{/*// $(document).ready(function() {*/}}
    {{/*//     $("#addAgentForm").submit(function(event) {*/}}
    {{/*//         event.preventDefault();*/}}
    {{/*//         var data = $(this).serializeFormJSON();*/}}
    {{/*//         var json = JSON.stringify(data);*/}}
    {{/*//         console.log(json);*/}}
    {{/*//         $.post( "http://localhost:8181/v1/agent", json);*/}}


            {{/*// $.ajax({*/}}
            {{/*//     cache: false,*/}}
            {{/*//     url: 'http://localhost:8181/v1/agent',*/}}
            {{/*//     type: "OPTIONS",*/}}
            {{/*//     data: $("#addAgentForm").serialize(),*/}}
            {{/*//     datatype: 'json',*/}}
            {{/*//     crossDomain: true,*/}}
            {{/*//     contentType: 'application/json;charset=UTF-8',*/}}
            {{/*//     headers:{*/}}
            {{/*//         'Accept': 'application/json',*/}}
            {{/*//         'Content-Type': 'application/json',*/}}
            {{/*//         'Access-Control-Allow-Origin': '*'*/}}
            {{/*//     },*/}}
            {{/*//     success: function(data) {*/}}
            {{/*//         console.log(data)*/}}
            {{/*//     },*/}}
            {{/*//     error: function (responseData, textStatus, errorThrown) {*/}}
            {{/*//         alert('POST failed.');*/}}
            {{/*//     }*/}}
            {{/*// });*/}}


        {{/*});*/}}
    {{/*});*/}}

{{/* </script>*/}}



{{end}}