{{ define "admin_home.layout"}}
    {{template "admin_home_header.layout" .}}
    {{template "admin_home.content" .}}
    {{template "admin_home.footer" .}}

{{end}}

{{define "admin_home.content"}}

    <div class="main">
        <ul >
            <li>{{template "admin_dashboard.layout" .}}</li>
            <li>{{template "admin_edit_profile.layout" .}}</li>
            <li>{{template "admin_manage_agent.layout" .}}</li>
            <li>{{template "admin_manage_healthcenter.layout" .}}</li>
            <li>{{template "admin_manage_user.layout" .}}</li>
        </ul>
    </div>

{{end}}