{{ define "user.footer.default.layout" }}
<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-right">
                <ul class="footer-list">
                    <li class="list-title"><b>TenaHub</b></li>
                    <li><a href="#">About</a> </li>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">To the top</a> </li>
                </ul>
            </div>
            <div class="col-md-3 text-right">
                <ul class="footer-list">
                    <li class="list-title"><b>Follow</b></li>
                    <li><a href="#">Instagram</a> </li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a> </li>
                </ul>
            </div>
            <div class="col-md-3 text-right">
                <ul class="footer-list">
                    <li class="list-title"><b>Visit</b></li>
                    <li>Addis Ababa</li>
                    <li>Bole subcity</li>
                    <li>Mafi Building 5th floor</li>
                </ul>
            </div>
            <div class="col-md-4 text-right">
                <form action="" class="form-inline">
                    <p class="mb-3 text-right">Subscribe to Email list</p>
                    <input type="text" name="email" id="email" class="form-control mb-2 mr-sm-2">
                    <button type="submit" class="btn btn-danger mb-2">Subscribe</button>
                </form>
            </div>
        </div>
        <div class="col-md-12 text-center copy-right">
            &copy; 2019 TenaHub, Inc. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>
{{ end }}